.box {
    transition: 0.8s;
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: 10px solid black;
    padding: 30px;
    border-radius: 50%;
    animation-duration: 3s;
    animation-name: boxAnimation;
    /* animation-iteration-count: 20; */
    /* cheksiz */
    animation-iteration-count: infinite;
    animation-delay: 2s;
    /* Borib qaytadi */
    /* animation-direction: alternate; */
    /* Teskarisiga */
    /* animation-direction: reverse; */
    /* Vaqtni bolishi */
    /* animation-timing-function: ease; */
    filter: drop-shadow(10px 10px 10px red)
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}

.box:active {
    /* transform: translate(300px, 300px); */
    /* suriladi */
    /* transform: rotate(-80deg); */
    /* buriladi */
    /* transform: scale(1.5); */
    /* kattalashtrish */
    transform: translate(300px, 300px), rotate(90deg);
}

@keyframes boxAnimation {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}