* {
    padding: 0px;
    margin: 0px;
}

.box {
    transition: 0.8s;
    width: 100px;
    height: 100px;
    background-color: skyblue;
    border: 10px solid black;
    padding: 30px;
    animation-duration: 5s;
    animation-name: boxAnimation;
    /* animation-iteration-count: 20; */
    /* cheksiz */
    animation-iteration-count: infinite;
    /* Saytga kirganda kutish */
    animation-delay: 2s;
    /* Borib qaytadi */
    animation-direction: alternate;
    /* Teskarisiga */
    /* animation-direction: reverse; */
    /* Vaqtni bolishi */
    /* animation-timing-function: ease; */
    background-image: url(./logo1.jpg);
    background-size: 100%;
    filter: drop-shadow(10px 10px 10px rgb(88, 165, 26));
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    background-color: lawngreen;
    height: 76vh;
}

.box:active {
    /* transform: translate(300px, 300px); */
    /* suriladi */
    /* transform: rotate(-80deg); */
    /* buriladi */
    /* transform: scale(1.5); */
    /* kattalashtrish */
    transform: translate(300px, 300px), rotate(90deg);
}

@keyframes boxAnimation {
    form {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg) scale(2);
        border-radius: 50%;
        filter: drop-shadow(10px 10px 10px rgb(230, 66, 93));
    }
}

.header {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    /* padding: 150px; */
    height: 100vh;
}

.box2 {
    background-color: rgb(54, 54, 46);
    width: 100px;
    height: 100px;
    transition: 0.2s;
    animation-name: box2Animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: white;
    padding: 20px;
}

@keyframes box2Animation {
    form {
        transform: translateY(0px);
    }
    to {
        transform: translatey(400px);
    }
}

.header3 {
    background-color: lightsalmon;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 239, 9);
    animation-name: box3Animation;
    transition: 0.9s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes box3Animation {
    form {
        /* transform: translateX(-200px); */
    }
    to {
        transform: translateX(90vw);
    }
}